<h2>Details</h2>
<h2>My Heroes</h2>
<div>
  <label
    >Hero name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value = ''">Add</button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name }} <span>is my hero</span></h2>
  <button [routerLink]="['/heroes', selectedHero.id]">View Details</button>
</div>
